<footer class="site-footer">
  <section class="site-footer__content">
    <div>
      <h6 class="site-footer__title">Thank you for the visit! 👋 </h6>
      <p>Feel free to contact me regarding any kind or if you just want to say hello.</p>
    </div>

    <div>
      <h6 class="site-footer__title">Find me on</h6>

      <ul class="social-list social-list--inline">
        {% for social in site.social_links %}
          <li>
            <a href="{{ social.url }}" target="_blank">
              {{ social.name }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </section>

  <section class="site-footer__copyright">
    <p>Copyright © 2025 {{ site.title }}. All Rights Reserved.</p>

    <p>Made with ❤️ and ☕ in by <a href="https://alexsandro-sa.com.br/" target="_blank" rel="noopener noreferrer">Alexsandro Silva Alves</a></p>
  </section>
</footer>
