$code-bg: #0d0d0f;
$code-border: #2C2C2E;
$code-text: #e0e0e0;

// Syntax highlighting colors
$syntax-comment: #6a737d;
$syntax-keyword: #da0c81;      // primary - pink
$syntax-string: #79c0ff;       // light blue
$syntax-number: #f0883e;       // orange
$syntax-function: #d2a8ff;     // lavender
$syntax-variable: #ffa657;     // amber
$syntax-type: #7ee787;         // green
$syntax-operator: #ff7b72;     // coral
$syntax-constant: #79c0ff;     // light blue
$syntax-tag: #7ee787;          // green
$syntax-attribute: #d2a8ff;    // lavender
$syntax-selector: #da0c81;     // primary - pink
$syntax-regex: #a5d6ff;        // pale blue
$syntax-deleted: #ffa198;      // light red
$syntax-inserted: #7ee787;     // green

// Inline code
code {
  font-family: "JetBrains Mono", "Fira Code", "SF Mono", "Lucida Console", Courier, monospace;
  font-size: 0.875em;
  background-color: $code-bg;
  color: $syntax-keyword;
  padding: 0.2em 0.4em;
  border-radius: 4px;
  border: 1px solid $code-border;
}

// Code blocks
pre {
  font-family: "JetBrains Mono", "Fira Code", "SF Mono", "Lucida Console", Courier, monospace;
  font-size: 0.875rem;
  line-height: 1.6;
  background-color: $code-bg;
  border: 1px solid $code-border;
  border-radius: 8px;
  padding: 1.25rem;
  overflow-x: auto;
  margin: 1.5rem 0;

  code {
    background: none;
    border: none;
    padding: 0;
    color: $code-text;
    font-size: inherit;
  }
}

// Line numbers
.lineno {
  color: $syntax-comment;
  margin-right: 1rem;
  padding-right: 1rem;
  border-right: 1px solid $code-border;
  user-select: none;
}

// Rouge syntax highlighter classes
.highlight {
  background-color: $code-bg;
  border-radius: 8px;
  margin: 1.5rem 0;

  pre {
    margin: 0;
    border: 1px solid $code-border;
  }

  // Comments
  .c,    // Comment
  .c1,   // Comment.Single
  .cm,   // Comment.Multiline
  .cs,   // Comment.Special
  .cp {  // Comment.Preproc
    color: $syntax-comment;
    font-style: italic;
  }

  // Keywords
  .k,    // Keyword
  .kc,   // Keyword.Constant
  .kd,   // Keyword.Declaration
  .kn,   // Keyword.Namespace
  .kp,   // Keyword.Pseudo
  .kr,   // Keyword.Reserved
  .kt {  // Keyword.Type
    color: $syntax-keyword;
    font-weight: 500;
  }

  // Strings
  .s,    // String
  .s1,   // String.Single
  .s2,   // String.Double
  .sb,   // String.Backtick
  .sc,   // String.Char
  .sd,   // String.Doc
  .se,   // String.Escape
  .sh,   // String.Heredoc
  .si,   // String.Interpol
  .sr,   // String.Regex
  .ss,   // String.Symbol
  .sx {  // String.Other
    color: $syntax-string;
  }

  // Numbers
  .m,    // Number
  .mb,   // Number.Bin
  .mf,   // Number.Float
  .mh,   // Number.Hex
  .mi,   // Number.Integer
  .mo,   // Number.Oct
  .il {  // Number.Integer.Long
    color: $syntax-number;
  }

  // Names
  .n {   // Name
    color: $code-text;
  }

  .na {  // Name.Attribute
    color: $syntax-attribute;
  }

  .nb {  // Name.Builtin
    color: $syntax-type;
  }

  .nc {  // Name.Class
    color: $syntax-type;
    font-weight: 500;
  }

  .nd {  // Name.Decorator
    color: $syntax-function;
  }

  .nf,   // Name.Function
  .fm {  // Name.Function.Magic
    color: $syntax-function;
  }

  .ni {  // Name.Entity
    color: $syntax-variable;
  }

  .nn {  // Name.Namespace
    color: $syntax-type;
  }

  .no {  // Name.Constant
    color: $syntax-constant;
  }

  .nt {  // Name.Tag
    color: $syntax-tag;
  }

  .nv,   // Name.Variable
  .vc,   // Name.Variable.Class
  .vg,   // Name.Variable.Global
  .vi,   // Name.Variable.Instance
  .vm {  // Name.Variable.Magic
    color: $syntax-variable;
  }

  // Operators
  .o,    // Operator
  .ow {  // Operator.Word
    color: $syntax-operator;
  }

  // Punctuation
  .p {   // Punctuation
    color: $code-text;
  }

  // Generic
  .ge {  // Generic.Emph
    font-style: italic;
  }

  .gs {  // Generic.Strong
    font-weight: bold;
  }

  .gd {  // Generic.Deleted
    color: $syntax-deleted;
    background-color: rgba($syntax-deleted, 0.1);
  }

  .gi {  // Generic.Inserted
    color: $syntax-inserted;
    background-color: rgba($syntax-inserted, 0.1);
  }

  .gh {  // Generic.Heading
    color: $syntax-keyword;
    font-weight: bold;
  }

  .gu {  // Generic.Subheading
    color: $syntax-constant;
    font-weight: bold;
  }

  .gl {  // Generic.Lineno
    color: $syntax-comment;
  }

  // Errors
  .err { // Error
    color: $syntax-deleted;
    background-color: rgba($syntax-deleted, 0.2);
    border-radius: 2px;
  }

  // Special
  .bp {  // Name.Builtin.Pseudo
    color: $syntax-type;
  }

  .w {   // Text.Whitespace
    color: transparent;
  }
}

// Diff highlighting
.highlight .gd {
  .x {
    color: $syntax-deleted;
  }
}

.highlight .gi {
  .x {
    color: $syntax-inserted;
  }
}

// Language-specific badges (optional)
.highlight[data-lang]::before {
  content: attr(data-lang);
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.25rem 0.75rem;
  font-size: 0.7rem;
  color: $syntax-comment;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

// Scrollbar styling for code blocks
pre::-webkit-scrollbar {
  height: 8px;
}

pre::-webkit-scrollbar-track {
  background: $code-bg;
  border-radius: 4px;
}

pre::-webkit-scrollbar-thumb {
  background: $code-border;
  border-radius: 4px;

  &:hover {
    background: #454548; // $code-border lightened 10%
  }
}

// Code block copy button area (if using JS copy functionality)
.code-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: #080809; // $code-bg darkened 2%
  border: 1px solid $code-border;
  border-bottom: none;
  border-radius: 8px 8px 0 0;
  font-size: 0.75rem;
  color: $syntax-comment;

  + pre,
  + .highlight pre {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

.copy-button {
  background: none;
  border: 1px solid $code-border;
  border-radius: 4px;
  color: $syntax-comment;
  cursor: pointer;
  padding: 0.25rem 0.5rem;
  font-size: 0.7rem;
  transition: all 0.2s ease;

  &:hover {
    color: $code-text;
    border-color: $syntax-keyword;
  }
}



.highlight pre { background-color: #272822; }
.highlight .hll { background-color: #272822; }
.highlight .c { color: #75715e } /* Comment */
.highlight .err { color: #960050; background-color: #1e0010 } /* Error */
.highlight .k { color: #66d9ef } /* Keyword */
.highlight .l { color: #ae81ff } /* Literal */
.highlight .n { color: #f8f8f2 } /* Name */
.highlight .o { color: #f92672 } /* Operator */
.highlight .p { color: #f8f8f2 } /* Punctuation */
.highlight .cm { color: #75715e } /* Comment.Multiline */
.highlight .cp { color: #75715e } /* Comment.Preproc */
.highlight .c1 { color: #75715e } /* Comment.Single */
.highlight .cs { color: #75715e } /* Comment.Special */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .kc { color: #66d9ef } /* Keyword.Constant */
.highlight .kd { color: #66d9ef } /* Keyword.Declaration */
.highlight .kn { color: #f92672 } /* Keyword.Namespace */
.highlight .kp { color: #66d9ef } /* Keyword.Pseudo */
.highlight .kr { color: #66d9ef } /* Keyword.Reserved */
.highlight .kt { color: #66d9ef } /* Keyword.Type */
.highlight .ld { color: #e6db74 } /* Literal.Date */
.highlight .m { color: #ae81ff } /* Literal.Number */
.highlight .s { color: #e6db74 } /* Literal.String */
.highlight .na { color: #a6e22e } /* Name.Attribute */
.highlight .nb { color: #f8f8f2 } /* Name.Builtin */
.highlight .nc { color: #a6e22e } /* Name.Class */
.highlight .no { color: #66d9ef } /* Name.Constant */
.highlight .nd { color: #a6e22e } /* Name.Decorator */
.highlight .ni { color: #f8f8f2 } /* Name.Entity */
.highlight .ne { color: #a6e22e } /* Name.Exception */
.highlight .nf { color: #a6e22e } /* Name.Function */
.highlight .nl { color: #f8f8f2 } /* Name.Label */
.highlight .nn { color: #f8f8f2 } /* Name.Namespace */
.highlight .nx { color: #a6e22e } /* Name.Other */
.highlight .py { color: #f8f8f2 } /* Name.Property */
.highlight .nt { color: #f92672 } /* Name.Tag */
.highlight .nv { color: #f8f8f2 } /* Name.Variable */
.highlight .ow { color: #f92672 } /* Operator.Word */
.highlight .w { color: #f8f8f2 } /* Text.Whitespace */
.highlight .mf { color: #ae81ff } /* Literal.Number.Float */
.highlight .mh { color: #ae81ff } /* Literal.Number.Hex */
.highlight .mi { color: #ae81ff } /* Literal.Number.Integer */
.highlight .mo { color: #ae81ff } /* Literal.Number.Oct */
.highlight .sb { color: #e6db74 } /* Literal.String.Backtick */
.highlight .sc { color: #e6db74 } /* Literal.String.Char */
.highlight .sd { color: #e6db74 } /* Literal.String.Doc */
.highlight .s2 { color: #e6db74 } /* Literal.String.Double */
.highlight .se { color: #ae81ff } /* Literal.String.Escape */
.highlight .sh { color: #e6db74 } /* Literal.String.Heredoc */
.highlight .si { color: #e6db74 } /* Literal.String.Interpol */
.highlight .sx { color: #e6db74 } /* Literal.String.Other */
.highlight .sr { color: #e6db74 } /* Literal.String.Regex */
.highlight .s1 { color: #e6db74 } /* Literal.String.Single */
.highlight .ss { color: #e6db74 } /* Literal.String.Symbol */
.highlight .bp { color: #f8f8f2 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #f8f8f2 } /* Name.Variable.Class */
.highlight .vg { color: #f8f8f2 } /* Name.Variable.Global */
.highlight .vi { color: #f8f8f2 } /* Name.Variable.Instance */
.highlight .il { color: #ae81ff } /* Literal.Number.Integer.Long */

.highlight .gh { } /* Generic Heading & Diff Header */
.highlight .gu { color: #75715e; } /* Generic.Subheading & Diff Unified/Comment? */
.highlight .gd { color: #f92672; } /* Generic.Deleted & Diff Deleted */
.highlight .gi { color: #a6e22e; } /* Generic.Inserted & Diff Inserted */
