---
# Only the styles Sass file needs front matter (the dashes are enough)
---

// base colors
$dark: #1a1a1d;
$light: #c7c7c7;

// theme colors
$primary-color: #da0c81;
$secondary-color: #940B92;
$tertiary-color: #4477CE;

// body
$body-bg: $dark;
$body-color: $light;

$text-primary: #FFFFFF;
$text-secondary: $light;

$font-size-base: 1rem;
$font-size-large: 4rem;
$font-size-small: 0.75rem;

$font-mono:  "Lucida Console", Courier, monospace;
$font-sans:  "Roboto", Arial, Verdana, Helvetica, sans-serif;
$font-serif: Times, "Times New Roman", Georgia, serif;
$font-cursive: "Pacifico", cursive;

$font-family-base: $font-sans;

// border
$border-color: #2C2C2E;

// links
$link-color: $text-primary;
$link-text-decoration: $primary-color solid underline;
$link-text-decoration-hover: $primary-color wavy underline;

// styles
*,
*::before,
*::after {
  box-sizing: border-box;
}

::selection {
  background: $primary-color;
  color: $text-primary;
}

::-moz-selection {
  background: $primary-color;
  color: $text-primary;
}

html {
  color-scheme: dark;

  margin: 0;
  padding: 0;

  background:
    radial-gradient(at 47.51177477720428% 77.80429594272077%, $tertiary-color 0px, transparent 50%),
    radial-gradient(at 89.17473079504047% 81.98090692124104%, $secondary-color 0px, transparent 50%),
    radial-gradient(at 16.445177515349542% 85.68019093078759%, $primary-color 0px, transparent 50%),
    #000000;
}

body {
  color: $body-color;
  background-color: $body-bg;
  font-family: $font-family-base;
  min-height: 100vh;
  margin: 0.5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: $text-primary;
  font-weight: inherit;
}

h1 { font-size: $font-size-base * 3; }
h2 { font-size: $font-size-base * 2.5; }
h3 { font-size: $font-size-base * 2; }
h4 { font-size: $font-size-base * 1.5; }
h5 { font-size: $font-size-base * 1.5; }
h6 { font-size: $font-size-base * 1.5; }

p, ul li, ol li {
  color: $text-secondary;
}

a {
  color: $link-color;
  text-decoration: $link-text-decoration;

  &:hover {
    color: initial;
    text-decoration: $link-text-decoration-hover;
  }
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid $border-color;
  margin-bottom: 1rem;


  th, td {
    padding: 20px;
    border: 1px solid $border-color;
  }

  th {
    text-align: left;
    background-color: $dark;
    color: $text-primary;
  }

  td, tr {
    color: $text-secondary;
  }
}

.wrapper {
  width: calc(100% - 2rem);
  max-width: 50rem;
  margin-inline: auto;
}

// LAYOUT ---
.site-header {
  margin-bottom: 5rem;

  .logo {
    margin: 0;
    padding: 0;
    text-shadow:
      2px 2px 0 $primary-color,
      4px 4px 0 $secondary-color,
      6px 6px 0 $tertiary-color;

    font-family: $font-cursive;

    &--small {
      font-size: $font-size-small;
    }

    &--large {
      font-size: $font-size-large;
    }

    a {
      text-decoration: none;
      color: inherit;
    }
  }

  .nav {
    list-style-type: none;
    margin: 2rem 0;
    padding: 0;
    display: flex;
    flex-direction: row;

    &__item {
      margin-right: 1rem;
      font-size: $font-size-base;
    }

    &__link {
      color: $link-color;
      text-decoration: none;

      &:hover {
        text-decoration: $link-text-decoration-hover;
      }
    }
  }
}

.site-footer {
  margin-top: 10rem;

  &__title {
    font-weight: bold;
    font-size: $font-size-base;
    margin: 0;
  }

  &__content,
  &__copyright {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

    gap: 1rem;

    @media (width <= 728px) {
      flex-direction: column;
      justify-content: flex-end;
      align-items: normal;
    }
  }

  &__content {
    font-size: $font-size-base;
  }

  &__copyright {
    padding: 1rem 0;
    margin-top: 2rem;
    border-top: 1px dotted $border-color;
    font-size: $font-size-small;
  }
}

.page {

  &__title {
    line-height: 1;
    font-size: $font-size-large;
  }

  p, li {
    font-size: 1.25rem;
  }
}

// COMPONENTS
.social-list {
  list-style: none;

  &--inline {
    padding: 0;

    li {
      display: inline;
      margin-right: 8px;
    }
  }
}

.post-list {
  opacity: 1;
  list-style: none;
  padding: 0;

  &__item {
    animation: all 1s ease-out;
    transition: all 0.5s ease;

    border-bottom: 1px solid $border-color;

    &:hover {
      background-color: $border-color;
      border-color: $primary-color;
    }
  }

  &__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;

    cursor: pointer;
    text-decoration: none !important;
  }

  &__title {
    margin-left: 4px;
    color: $text-primary;
    font-size: $font-size-base + 0.25rem;
    font-weight: normal;
  }

  &__date {
    font-size: $font-size-small;
    margin-right: 4px;
    color: $text-secondary;
  }
}

.hero {
  margin-bottom: 5rem;

  &__title {
    margin: 0;
    font-size: $font-size-large;
  }

  &__subtitle {
    margin-top: 0;
  }

  &__description {
    margin: 0;
    font-size: 1.5rem;
  }
}
